* {
  font-family: "Poppins", sans-serif;
}

.error{
  color: var(--color-6);
  font-size: 12px;
}

.container {
  background: linear-gradient(45deg, var(--color-1), var(--color-2));
  display: flex;
}

.cide-left,
.cide-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cide-left #text-img {
  width: 40%;
}

.cide-left #icon-img {
  height: 70%;
}

.cide-right {
  background: var(--color-4);
  overflow-y: scroll;
}

.icone {
  width: 80px;
  height: 80px;
}

.icone img {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: "Avenir Bold";
}

.form {
  margin: auto;
}

.input-group {
  width: 100%;
  overflow-x: hidden;
}

.group-content {
  display: flex;
  width: 400%;
}

.step {
  width: 25%;
  transition: 0.2s;
}

.box {
  width: 100%;
}

.box:not(:last-child) {
  margin-bottom: 15px;
}

.unique-box .box {
  margin-bottom: 0px;
}

.input-box {
  position: relative;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 5px;
  padding: 2px 4px;
  margin-top: 15px;
}

.input-box input {
  font-weight: 500;
  width: 100%;
  height: 100%;
  background: none;
  border: 0;
  padding: 7px 14px;
  outline: none;
}

.group-content > input[type="radio"] {
  display: none;
}

#radio-1:checked ~ .current {
  margin-left: 0;
}

#radio-2:checked ~ .current {
  margin-left: -25%;
}

#radio-3:checked ~ .current {
  margin-left: -50%;
}

#radio-4:checked ~ .current {
  margin-left: -75%;
}

.input-box label {
  position: absolute;
  opacity: 0.7;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  transform: translateY(-60%);
  transition: 0.2s;
  opacity: 1;
  top: 0;
  background: var(--color-4);
}

.sign-controller {
  display: flex;
  margin: 15px 0px;
  justify-content: space-between;
}

.sign-controller a {
  text-decoration: none;
}

#ess {
  color: gray;
}

#mr {
  color: var(--color-10);
}

.sign-button button:not(:last-child) {
  margin-bottom: 10px;
}

a {
  color: gray;
  text-decoration: none;
}

.action {
  color: #287ae6;
}

.sign-button button {
  background: var(--color-1);
  padding: 10px 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-4);
  width: 100%;
  border: 2px var(--color-1) solid;
  font-family: "Avenir Bold";
  border-radius: 5px;
  cursor: pointer;
}

#btn-v {
  background: var(--color-6);
  border: var(--color-6);
}

.line {
  margin-top: 10px;
  height: 1px;
  position: relative;
  margin: auto;
  background: #cccccc;
  margin-bottom: 20px;
}

.line::before {
  content: "Ou";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-4);
  padding: 0px 15px;
}

.sign-footer {
  margin-top: 15px;
}

.sign-footer img {
  width: 100%;
  height: 100%;
}

.google-button {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border: 1px var(--color-9) solid;
  border-radius: 5px;
  cursor: pointer;
}

.google-icon {
  margin: 10px;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 682px) {
  .cide-left {
    display: none;
  }

  .cide-right {
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 7px 25px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 420px) {
  .cide-right {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

@media screen and (max-width: 330px) {
  .sign-controller {
    flex-direction: column;
  }
}
