<div class="container">
  <div class="account-container">
    <div class="account-header">
      <img src="assets//line-floating.png" alt="" />
    </div>
    <div class="account-center">
        <div class="cide-left">
            <img src="assets//pizzaria text.png" alt="" />
            <img src="assets//Pizza maker-cuate.svg" alt="" />
        </div>
        <div class="cide-rigth">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="account-footer">
      <img src="assets//line-floating.png" alt="" />
    </div>
  </div>
</div>
