<div class="container">
  <div class="account-container">
    <div class="cide-left">
      <img src="assets//pizzaria text.png" alt="" id="text-img" />
      <img src="assets//Pizza maker-cuate.svg" alt="" id="icone" />
    </div>
    <div class="cide-right">
      <div class="card">
        <router-outlet></router-outlet>
        <div class="card-or-login">
          <div class="line"></div>
          <div class="google-icon">
            <img src="assets//google icon.png" alt="" />
            <p>Continuar com a Google</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
