<div class="container">
  <div class="account-container">
    <div class="cide-left">
      <img src="assets//pizzaria text.png" alt="" id="text-img" />
      <img src="assets//Pizza maker-cuate.svg" alt="" id="icone" />
    </div>
    <div class="cide-right">
      <div class="card" id="card">
        <router-outlet></router-outlet>
        <div class="card-or-login">
          <div class="line"></div>
          <asl-google-signin-button [text]="'signin_with'" [type]="'standard'"></asl-google-signin-button>
        </div>
      </div>
    </div>
  </div>
</div>
